<STYLE>
			*{
				margin: 0px;
				padding: 0px;
				}
			
			.border {
				margin-left: 30px;
				margin-right: 30px;
				border-bottom: solid 2px #E1DCDC;
				padding-bottom: 10px;
			}
			
			.fedback {
				margin-left: 30px;
				margin-right: 30px;
			
				padding-bottom: 10px;				
			}
			
			
			.wrapper{
	
					background: #eee;
				}
			
			body{
			
				margin-top: 5px;
				margin-left: 0px;
				margin-right: 0px;
				margin-bottom: 30px;
				background: #eee;
				}

			BODY A {

				COLOR: RoyalBlue;
				FONT-FAMILY: mono;
				TEXT-DECORATION: underline;

				}

			
			A:hover{
					COLOR: #ff0000;
					}
				
				
			div a{ 
				
				line-height: 10px;
				height: 70px;
				font-size: 18px;
				padding-left: 10px;
					
			}
		
			
			table{
				
				background: #ffffff;
				
			}	
				
			span{
				padding-left: 10px;
				}
			
			
			p{
				padding-left: 10px;
				padding-right: 0px;
				margin-top: 15px;
				margin-bottom: 9px;
			}
			
			
			ul {
				margin-top: 35px;
				padding-left: 10px;
				margin-bottom: 5px;
			}
			
			li{
				margin-left: 25px;	
				}
	</STYLE>